<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Accueil </title>
</head>
<body>
    <h1> Bienvenue sur l'application Port de Plaisance Russell </h1>
    <p> Voici une petite application de getion des réservations de catway pour vous permettre de mieux vous organisé. </p>

    <h2> Connexion </h2>
    <form action="/login" method="POST">
        <label for="email"> Email : </label>
        <input type="email" id="email" name="email" autocomplete="email" required>

        <label for="password"> Mot de passe : </label>
        <input type="password" id="password" name="password" autocomplete="current-password" required>

        <button type="submit"> Se connecter </button>
    </form>

    <p><a href="http://" target="_blank" rel="noopener noreferrer"> Documentation API </a></p>
</body>
</html>